.settings {
  display: flex;
  height: 20%;
  padding: 2rem;
  min-width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 20%;
}

.fa-book {
  font-size: 2rem;
  color: var(--secondary);
}

.select {
  display: flex;
  column-gap: 1rem;
  /* font-size: 1.5rem; */
}

.fa-caret-down {
  color: hsl(274deg, 82%, 60%);
}

.line {
  height: 70%;
  width: 0.05rem;
  background-color: rgba(128, 128, 128, 0.3);
}

.toggle {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.5rem;
}

.toggle-mode {
  display: flex;
  position: relative;
  background-color: var(--primary);
  padding: 0.65rem 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
}

.toggle-mode::before {
  content: "";
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  bottom: 50%;
  margin: auto;
  right: 5%;
  border-radius: 50%;
  background-color: var(--text-light);
}

.search {
  position: relative;
}

.button__search,
#search-input {
  border: none;
}

#search-input {
  /* border: 1px solid green; */
  background-color: var(--accent-deep);
  border-radius: 0.9rem;
  padding: 1rem;
  width: 20rem;
  height: 3.8rem;
  font-size: 1.05rem;
  color: var(--text);
}

#search-input::placeholder {
  font-weight: bolder;
  color: var(--accent);
}

.fa-magnifying-glass {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  background-color: transparent;
  color: var(--primary);
}
